.app {
  background-color: azure;
  position: absolute;

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.header {
  background-color: rgb(114, 219, 219);
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  background-color: rgb(85, 194, 194);

  border-bottom: 1px solid black;
  box-shadow: 0px 0px 10px 0px black;
  padding: 10px;
  gap: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main {
  display: flex;
  gap: 50px;
}
.todoContainer {
  background-color: rgb(85, 194, 194);
  box-shadow: 0px 0px 10px 0px black;

  width: 500px;

  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px;
  gap: 5px;
  margin: 20px;
}
.doneContainer {
  background-color: rgb(85, 194, 194);
  box-shadow: 0px 0px 10px 0px black;

  width: 500px;

  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px;
  gap: 5px;
  margin: 20px;
}
.todoCard {
  width: 300px;
  background-color: rgb(138, 190, 181);
  box-shadow: 0px 0px 10px 0px black;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  align-items: center;
  padding: 10px;
  gap: 5px;
  margin: 20px;
}
.doneCard {
  width: 300px;
  background-color: rgb(138, 190, 181);

  box-shadow: 0px 0px 10px 0px black;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  align-items: center;
  padding: 10px;
  gap: 5px;
  margin: 20px;
}

.buttonDone {
  background-color: rgb(102, 177, 102);
}
.toDoButton {
  background-color: rgb(177, 102, 102);
}

.footer {
  font-size: medium;
  background-color: rgb(85, 194, 194);

  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}
.devInfo {
  padding: 10px;
  margin: 10px;
}
